<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
    <body>
        <div class="center-widget">
          <div th:object="${mailDetails}">
            <h2>Dear Managers,</h2>
            <p>New ticket 
            <a th:href="${#ctx.getVariable('host')} + @{~/main-page/{id}(id=*{ticketId})}">
              #<span th:text="*{ticketId}"></span>
            </a> 
              is waiting for your approval.
            </p> 
          </div>
        </div>
    </body>
</html>

